.main-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-height: 1112px;
  max-width: 797px;
  background-color: white;
  box-shadow: 10px 10px 5px #a8a8a8;
  padding-top: 10px;
}

.main-columns {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 20px;
  margin: 20px 32px;
}
.main-column > div {
  margin-bottom: 10px;
}

.pdf-button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pdf-button {
  background-color: #8b5fbf;
  color: white;
  font-family: "LexendGiga";
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-container {
    margin: 30px 10px;
    box-shadow: none;
  }
}
