.main-container {
    margin: 30px auto;
    min-height: 842px;
    max-width: 595px;
    background-color: white;
    box-shadow: 10px 10px 5px #a8a8a8;
}

.main-columns {
    display: grid;grid-template-columns: 6fr 6fr;
    gap: 20px;
    margin: 20px 32px;
}

@media (max-width: 600px) {
    .main-container {
        margin: 30px 10px;
        box-shadow: none;
    }
}
