.update-date-container {
    position: absolute;
    bottom: 0;
    left: 30px;
    background-color: #8B5FBF;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-family: 'LexendDeca';
}